<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Cats!</title>
    <link rel="stylesheet" href="/app.css" />
  </head>

  <body>
    <h1>burgers</h1>
    <h2>Add a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="burger">New Burger Name:</label>
        <input type="text" id="burger" name="burger_name" />
        <button type="submit">Add Burger</button>
      </div>
    </form>
    <ul>
           
            <% for(var i = 0; i <burgers.length; i++){%>
  
              <% if(burgers[i].status){ %> 
              <li>
                <%= burgers[i].custorder %>         
              
              </li>
              <% } %>
              <% } %>
    </ul>
    <h1> testing ========================</h1>
    <ul>
      <% for(let burger of burgers) {%>
      <li><%= burger.custorder %></li>
      <% } %>
    </ul>
  </body>
</html>
