<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cats!</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>burgers</h1>
    <ul>
        <% for(let burger of burgers) {%>
        <li><%= burger.custorder %></li>
        <% } %>
    </ul>

</body>

</html>