<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="icon" type="image/jpg" href="./img/logo.png" /> -->
    <title> Ali | Alaoui</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    
    <form action="/create" method="POST">
        <div>
            <label for="custorder">Customer Order</label>
            <input type="text" id="custorder" name="custorder">
        </div>
        <button>Add Burger</button>
    </form>
</body>


</html>