<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= num %> </title>
    <link rel="stylesheet" href="/app.css">

</head>

<body>
<h1>your randome number is: <%= num %></h1>
<% if(num % 2 === 0) { %>
<h2>Even number</h2>
<% } else { %>
<h2>Add number</h2>
<% } %>
<h1><%= num%===0 ? : 'EVEN' , 'ADD'</h1>%>
</body>

</html>
