
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 400px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }


  .container-fluid {
    padding-top: 30px;
  }
  
   .container .rounded float-left {
    border-radius: 30px;
    width: 50%;
    padding-top: 5px;
    margin: 0 auto;
    
  }
  
  button:hover {
      background-color: #38a;
    }

    p {
      text-align: center;
      font-size: 2rem;
      margin-top: 0px;

    }

    /* 
    #time {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
      background-color: black;
    } */

    body {
      background-color: rgb(216, 190, 236);
    }

    #score {
      text-align: center;

      margin-top: 0px;
    }

    img {
      transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg);
    }

    .atitle {
      color: white;
    }

    ol {
      text-align: left;
    }

    #timer #time  {
      color: white;
      font-size: 2rem;
    }
    h1 {
      color: white;
      font-size: 3rem; 
    }
